<header>
  <div class="logo">url<span>Reloader&#9851</span></div>
  <span id="rate">{{rate}}</span>
  <div class="info">This site will reload in <span id="count">{{rate}}</span> seconds . . . <a href="/" id="exit">Exit</a></div>
</header>
<iframe src="{{url}}" frameborder="0" id="iframe"></iframe>

<script src="js/site_script.js"></script>